<SquarePaymentFormStyled
  @acceptCreditCards={{true}}
  @applicationId="sandbox-sq0idb-TsZm7fSKPzmM1HRI9zDfAQ"
  @locationId="TC4Z3ZEBKRXRH"
  @style="light"
  @onCardNonceResponseReceived={{action "handleCardNonceResponse"}}
  @inputEventReceived={{action "handleInputEventReceived"}}
/>

{{#if nonceResponse}}
  <div class="nonce-response">
    <h3>Results</h3>
    <pre class="nonce-response__errors">{{nonceResponse.errors}}</pre>
    <pre class="nonce-response__nonce">{{nonceResponse.nonce}}</pre>
    <pre class="nonce-response__card-data">{{nonceResponse.cardData}}</pre>
    <pre class="nonce-response__billing-contact">{{nonceResponse.billingContact}}</pre>
    <pre class="nonce-response__shipping-contact">{{nonceResponse.shippingContact}}</pre>
    <pre class="nonce-response__shipping-option">{{nonceResponse.shippingOption}}</pre>
    <pre class="nonce-response__verification-token">{{nonceResponse.verificationToken}}</pre>
  </div>
{{/if}}

{{#if eventData}}
  <div class="event-data">
    <h3>Events</h3>
    <pre class="event-data__event-type">{{eventData.eventType}}</pre>
    <pre class="event-data__field">{{eventData.field}}</pre>
  </div>
{{/if}}
