<h2>Styled Payment Form (Light)</h2>
<div class="form-wrapper">
  <SquarePaymentFormStyled
    @acceptApplePay={{true}}
    @acceptCreditCards={{true}}
    @acceptGooglePay={{true}}
    @acceptMasterpass={{true}}

    @applicationId="blah"
    @locationId="blah"
    @style="light"

    @createPaymentRequest={{action (mut response)}}
    @onCardNonceResponseReceived={{action (mut response)}}
  />
</div>
{{#docs-snippet name="styled-payment-form-light.hbs"}}
  {{square-payment-form-styled
    acceptApplePay=true
    acceptCreditCards=true
    acceptGooglePay=true
    acceptMasterpass=true

    applicationId="square-app-id"
    locationId="square-location-id"
    style="dark"

    createPaymentRequest=(action "handlePaymentRequest")
    onCardNonceResponseReceived=(action "handleCardNonceResponse")
  }}
{{/docs-snippet}}
